.card_avatar{
  width:100%;

}
.result-card{
word-wrap: break-word;
flex: 1;
min-width: 150px;
}
@media screen and(max-width:600px) {
  .result-card{
    flex-basis: 46%;
  }
}
@media screen and(max-width:340px) {
  .result-card{
flex-basis: 100%;
  }
}
